<nav>
  <div class="side-bar">  
    <div class="logo">
      <h1>To-Do App</h1>
    </div>
    <div class="vertical">
      <ul>
        <li class="list" id="daily">🌞 Daily To-Do List</li>
        <li class="list" id="long-term">💪 Goals List</li>
        <li class="list" id="time-specified">🕧 Add a time-specific to-do</li>
      </ul>
    </div>
  </div>
</nav>